@use "variables";

.about {
  @keyframes slide-and-fade {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .inner-content-container {
    margin: 0 124px;
    padding-top: 200px;
  }
  .header {
    h5 {
      text-transform: uppercase;
      font-family: variables.$ap-bold;
      font-size: 19px;
      letter-spacing: 1.56px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 46px;
      line-height: 57px;
      width: 85%;
      font-family: variables.$opt;
    }
  }
  .staff-container {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
    grid-auto-rows: 430px;
    grid-row-gap: 94px;
    grid-column-gap: 30px;
  }

  .staff-member {
    height: 100%;
    cursor: pointer;

    .photo-container {
      height: 80%;
    }

    .photo {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center 10%;
      background-size: cover;
      transition: all 0.5s ease-out;
    }

    .photo:hover {
      filter: sepia(0.6);
    }

    .name-with-video {
      margin-top: 18px;
      position: relative;
      font-family: variables.$ap;
      font-size: 27px;

      &::after {
        content: "";
        position: absolute;
        background: url("/images/play-bio.svg");
        width: 22px;
        height: 22px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        right: 0;
      }
    }

    .name-with-bio {
      margin-top: 18px;
      position: relative;
      font-family: variables.$ap;
      font-size: 27px;

      &::after {
        content: "";
        position: absolute;
        background: url("/images/plus-bio.svg");
        width: 22px;
        height: 22px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        right: 0;
      }
    }

    .role {
      font-family: variables.$ap;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 1.39px;
      margin-top: 8px;
    }

    .location {
      font-family: variables.$ap;
      font-size: 14px;
      margin-top: 10px;
    }

    .instagram {
      cursor: default;
      margin-top: 16px;
      position: relative;
      font-size: 14px;
      line-height: 22px;

      &::before {
        content: "";
        position: absolute;
        mask-image: url("/images/venmo.svg");
        mask-repeat: no-repeat;
        width: 25px;
        height: 24px;
        mask-size: contain;
        background-color: variables.$light-gray-2;
      }

      span {
        margin-left: 30px;
      }

      a {
        font-family: variables.$ap;
        text-decoration: none;
        color: variables.$light-gray-2;
      }
    }
  }

  .staff-member-spotlight {
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .close {
      z-index: 10;
      background-color: Transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .video-container {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      animation: slide-and-fade 1s ease-out;

      .inner-container {
        position: relative;
        background-color: rgba(0, 0, 0, 0.95);
        display: flex;
        width: 100%;
      }

      .close {
        top: 48px;
        right: 48px;
        position: absolute;
      }

      video {
        width: 100%;
        outline: none;
        height: calc((100vh * 0.9));
        object-fit: contain;
      }
    }

    .bio-container {
      overflow: scroll;
      height: 100%;
      animation: slide-and-fade 1s ease-out;

      .photo-container {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      .photo {
        height: calc((100vw * 0.56));
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: fixed;
        width: 100%;
      }

      .inner-container {
        position: relative;
        display: flex;
        justify-content: center;
      }

      .text-container {
        padding-top: calc(100vh * 0.6);
        width: 80%;
      }

      .text {
        position: relative;
        background-color: variables.$black;
        color: variables.$secondary-color;
        font-family: variables.$opt;
        font-size: 31px;
        margin: 0 84px 84px;
        line-height: 48px;
        padding: 84px 232px 118px 118px;

        h3 {
          font-family: variables.$ap;
          font-size: 27px;
          line-height: 36px;
        }

        h5 {
          font-family: variables.$ap;
          text-transform: uppercase;
          font-size: 17px;
          letter-spacing: 1.39px;
          line-height: 28px;
          margin-bottom: 70px;
        }

        p {
          margin-bottom: 44px;
        }

        p:last-of-type {
          margin-bottom: 0;
        }
      }

      .close {
        position: absolute;
        right: 44px;
        top: 44px;
      }
    }
  }

  .staff-member-spotlight.display-exit {
    opacity: 1;
  }

  .staff-member-spotlight.display-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

  .our-clients {
    margin-top: 300px;
    position: relative;

    .video-review {
      margin: 0 124px;
      display: flex;
      justify-content: center;

      video {
        height: 100%;
        width: 50%;
        object-fit: contain;
      }
    }

    .instagram-reviews {
      margin: 124px 124px;
    }

    .images {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .column {
      width: 369px;
      margin-right: 24px;
    }

    .column:last-of-type {
      margin-right: 0;
    }

    .review-image {
      margin-bottom: 24px;
    }

    .review-image-file {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tag {
      margin-top: 12px;
      font-size: 20px;
      font-family: variables.$ap;
    }
  }

  @media all and (max-width: variables.$mobile-max-bp) {
    .inner-content-container {
      padding: 100px 20px 0;
      margin: 0;
    }

    .header {
      h5 {
        font-family: variables.$ap-bold;
        font-size: 15px;
        letter-spacing: 1.23px;
        margin-bottom: 20px;
      }

      h3 {
        margin-top: 0;
        font-size: 37px;
        line-height: 42px;
        font-family: variables.$opt;
      }
    }

    .staff-container {
      margin-top: 30px;
      display: flex;
      overflow-x: scroll;

      .staff-member {
        flex: 1 0 277px;
        height: 475px;
        margin-right: 25px;
      }

      .photo-container {
        height: 359px;
        width: 277px;
      }
    }

    .staff-member-spotlight {
      .video-container {
        .close {
          top: 24px;
          right: 24px;
        }
      }

      .bio-container {
        width: 100%;
        height: 100%;
        background-color: variables.$black;
        position: relative;

        .photo-container {
          display: none;
        }

        .text-container {
          padding-top: 0;
          width: 100%;
        }

        .close {
          position: absolute;
          top: 24px;
          right: 24px;
        }

        .text {
          padding: 24px;
          font-family: variables.$ap;
          margin: 0;

          h3 {
            margin-bottom: 8px;
          }

          h5 {
            margin-bottom: 24px;
          }

          p {
            font-size: 17px;
            line-height: 28px;
            margin-bottom: 18px;
          }
        }
      }
    }

    .our-clients {
      margin-top: 125px;

      .video-review {
        margin: 0 24px;
        video {
          width: 100%;
        }
      }

      .instagram-reviews {
        margin: 48px 16px;
      }
    }
  }
}
