@use "variables";
@use "reset";
@use "nav";
@use "home";
@use "contact";
@use "services";
@use "about";
@use "blog";
@use "blog-post";
@use "policies";
@use "careers";
@use "footer";
@use "quotes";
@use "hero";

@font-face {
  font-family: "apercu-bold";
  src: url("/fonts/apercu-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-regular";
  src: url("/fonts/apercu-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "optima";
  src: url("/fonts/optima.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.disable-scroll {
  overflow-y: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: variables.$secondary-color;
}

.content {
  opacity: 1;
  position: relative;
  z-index: 10;
}

.main-container {
  // height: 0px;
  // overflow: hidden;
  // background-color: variables.$background-color;
}

.entrance {
  background-color: variables.$background-color;
  /* min-height: 100vh; */
  position: fixed;
  width: 100%;
  min-height: 100vh;
  bottom: 0;
  opacity: 1;
  z-index: 20;
}
