@use "variables";

.blog-post {
  height: 0px;
  overflow: hidden;
  background-color: variables.$background-color;

  .sub-nav {
    padding: 200px 0 0;
    margin: 0 84px;
    font-family: variables.$ap-bold;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 1.56px;
  }

  .content-header {
    padding: 84px 84px 0;
    margin: 100px 84px 0;
  }

  .content-body {
    padding: 0 84px;
    margin: 0 84px;
    width: 66%;
  }

  .featured-image-container {
    position: relative;
    aspect-ratio: 2 / 1;
  }

  .image {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .postTitle {
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: variables.$opt;
    font-size: 50px;
    line-height: 125%;
  }

  .rich-text {
    h1 {
      font-family: variables.$ap;
      font-size: 50px;
      line-height: 125%;
      margin-bottom: 20px;
    }

    h2 {
      font-family: variables.$ap;
      font-size: 37px;
      line-height: 115%;
      margin-bottom: 20px;
    }

    p {
      font-family: variables.$ap;
      font-size: 20px;
      line-height: 140%;
      padding-bottom: 24px;
    }

    b {
      font-family: variables.$ap-bold;
    }

    i {
      font-style: italic;
    }

    li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 24px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.8rem;
        width: 24px;
        height: 1px;
        background-color: variables.$black;
      }
    }

    .rich-text-image-container {
      margin: 32px 0;
      background-size: cover;
    }

    .rich-text-image-container img {
      max-width: 100%;
    }

    blockquote {
      margin: 50px 0 50px 72px;
      padding-left: 40px;
      font-size: 14px;
      line-height: 26px;
      font-family: variables.$ap;
    }
  }

  .policies-body {
    width: 80%;
    margin-top: 110px;
    margin-left: 110px;

    h4 {
      font-family: variables.$ap;
      font-size: 20px;
      letter-spacing: 0.8px;
      line-height: 40px;
      color: variables.$pink;
      text-transform: uppercase;
      margin-bottom: 18px;
    }

    ul {
      margin-top: 50px;

      li {
        position: relative;
      }

      li:before {
        content: "";
        width: 40px;
        border-bottom: 1px solid variables.$pink;
        position: absolute;
        left: 0px;
        top: 16px;
      }

      h6 {
        font-family: variables.$ap;
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 14px;
        margin-left: 60px;
      }

      p {
        margin-left: 60px;
      }
    }

    p {
      font-family: variables.$ap;
      font-size: 20px;
      line-height: 33px;
      margin-bottom: 38px;
    }

    .cta {
      margin-top: 90px;
    }

    a {
      font-family: variables.$ap-bold;
      line-height: 33px;
      margin-bottom: 14px;
      font-size: 20px;
      color: black;
    }
  }

  .footer {
    margin-top: 340px;
  }

  @media all and (max-width: variables.$mobile-max-bp) {
    .sub-nav {
      padding: 100px 20px 30px 24px;
      margin: 0;
      font-size: 15px;
      letter-spacing: 1.23px;
    }

    .content-header {
      padding: 0 24px;
      margin: 100px 0 0;
    }

    .content-body {
      padding: 0 24px;
      margin: 0;
      width: 100%;
    }

    h4 {
      margin: 40px 0 24px;
    }

    .rich-text {
      p {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 18px;
      }

      // blockquote {
      //   margin: 25px 0 25px 25px;
      //   padding-left: 20px;
      //   border-left: 4px solid #ffce34;
      // }
    }

    .footer {
      margin-top: 140px;
    }
  }
}
