.covid {
  .nav-container {
    .active-nav-link {
      color: $pink;
    }

    a:hover {
      color: $pink;
    }
  }

  .nav-container.scrolled a {
    color: $secondary-color;
  }

  height: 0px;
  overflow: hidden;
  background-color: $background-color;

  .sub-nav {
    padding: 200px 48px 0;
    margin: 0 84px;
    font-family: $ap-bold;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 1.56px;
    color: $pink;

    span {
      color: $pink;
    }
  }

  .text-content {
    padding: 0 48px;
    margin: 83px 84px 0;

    button {
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      color: $white;
      background-color: $pink;
      border-radius: 0px;
      font-family: $ap-bold;
      font-size: 15px;
      display: inline-block;
      height: 56px;
      padding: 14px 31px;
    }
  }

  .body {
    width: 70%;

    li {
      position: relative;
      font-family: $ap;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 28px;
      padding-left: 56px;
    }

    li:before {
      content: "";
      position: absolute;
      left: 0;
      mask: url("/images/line-bullet.svg") no-repeat 50% 50%;
      width: 26px;
      height: 28px;
      mask-size: contain;
      background-color: black;
    }

    .list-note {
      padding-left: 56px;
      font-style: italic;
    }

    .note {
      font-style: italic;
    }

    a {
      text-decoration: none;
      color: $pink;
    }
  }

  .body + .body {
    margin-top: 107px;
  }

  h3 {
    font-family: $opt;
    font-size: 64px;
    line-height: 73px;
  }

  h4 {
    font-family: $ap-bold;
    font-size: 32px;
    letter-spacing: 0.8px;
    line-height: 40px;
    color: $pink;
    text-transform: uppercase;
    margin: 64px 0 29px;
  }

  h6 {
    font-family: $ap;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 34px;
  }

  p {
    font-family: $ap;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 36px;
  }

  .footer {
    margin-top: 140px;
  }

  @media all and (max-width: $mobile-max-bp) {
    .sub-nav {
      padding: 100px 20px 30px 20px;
      margin: 0;
      font-size: 15px;
      letter-spacing: 1.23px;
    }

    h3 {
      margin-top: 30px;
      font-size: 37px;
      line-height: 38px;
    }

    .text-content {
      padding: 0 20px;
      margin: 0;
    }

    h4 {
      margin: 40px 0 24px;
    }

    // h4:first-of-type {
    //   margin-top: 80px;
    // }

    .body {
      width: 100%;
    }

    //   a {
    //     font-size: 17px;
    //   }

    //   .section-hero-image {
    //     margin-top: 0;
    //     height: 300px;
    //   }

    //   .section {
    //     margin-top: 100px;
    //     .title-bar {
    //       height: 90px;
    //       top: -72px;
    //     }
    //   }

    //   .text-container {
    //     width: 100%;
    //   }

    //   .section-text {
    //     display: block;

    //     .left {
    //       padding: 24px;
    //       font-size: 25px;
    //       line-height: 36px;
    //     }

    //     .right {
    //       padding: 0 24px;

    //       p {
    //         font-size: 17px;
    //         line-height: 28px;
    //       }
    //     }
    //   }

    //   .video-review {
    //     margin: 24px 24px 0;
    //   }

    //   .instagram-reviews {
    //     margin: 24px 24px 0;

    //     .images {
    //       display: block;
    //     }

    //     .column {
    //       width: 100%;
    //       margin-right: 0;
    //     }
    //   }

    //   .quotes-wrapper {
    //     padding: 50px 0 50px 24px;
    //   }
  }
}
