@use "variables";

.home {
  background-color: variables.$background-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .entrance {
    background-color: variables.$secondary-color;
    /* min-height: 100vh; */
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    opacity: 0;
  }

  .intro {
    // background: url("/images/home-rose.svg");
    // background-repeat: no-repeat;
    // background-position: center center;
    background-color: variables.$secondary-color;
    position: fixed;
    // top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // opacity: 1;
  }

  .intro-2 {
    background-color: variables.$black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .intro-rose {
    background: url("/images/home-rose.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
  }

  .nav-container .nav {
    background-color: variables.$black;
  }

  .nav-container .nav-content {
    color: variables.$secondary-color;
    transition: all 0.5s ease-out;
  }

  .nav-container .divider {
    opacity: 0;
  }

  .nav-container .book-now-button {
    border-color: variables.$secondary-color;
  }

  .nav-container a {
    color: variables.$secondary-color;
  }

  .nav-container a:hover {
    color: variables.$pink;
  }

  .nav-container a.book-now-button:hover {
    color: variables.$white;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
  }
}
