.home {
  background-color: $background-color;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .entrance {
    background-color: $secondary-color;
    /* min-height: 100vh; */
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    opacity: 0;
  }

  .intro {
    // background: url("/images/home-rose.svg");
    // background-repeat: no-repeat;
    // background-position: center center;
    background-color: $secondary-color;
    position: fixed;
    // top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // opacity: 1;
  }

  .intro-2 {
    background-color: $primary-color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .intro-rose {
    background: url("/images/home-rose.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
  }

  .nav-container .nav {
    background-color: $primary-color;
  }

  .nav-container .nav-content {
    color: $secondary-color;
    transition: all 0.5s ease-out;
  }

  .nav-container .divider {
    opacity: 0;
  }

  .nav-container .book-now-button {
    border-color: $secondary-color;
  }

  .nav-container a {
    color: $secondary-color;
  }

  .nav-container a:hover {
    color: $pink;
  }

  .nav-container a.book-now-button:hover {
    color: $white;
  }

  .content {
    background-color: $secondary-color;
    padding-top: 102px;
  }

  .slide-container .image-container {
    height: 625px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
  }

  .section-hero-image {
    height: 470px;
    // padding-top: 102px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-alt-logo {
    background: url("/images/home-alt-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: block;
    position: relative;
    width: 126px;
    height: 126px;
  }

  .sub-nav {
    padding: 65px 48px 0;
    margin: 0 84px;
    font-family: $ap-bold;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 1.56px;
  }

  .text-content {
    padding: 0 48px;
    margin: 83px 84px 0;

    button {
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      color: $white;
      background-color: $pink;
      border-radius: 0px;
      font-family: $ap-bold;
      font-size: 15px;
      display: inline-block;
      height: 56px;
      padding: 14px 31px;
    }
  }

  .body {
    width: 70%;
  }

  .body + .body {
    margin-top: 80px;
  }

  h3 {
    font-family: $opt;
    font-size: 64px;
    line-height: 82px;
    margin-bottom: 36px;
  }

  h4 {
    font-family: $ap-bold;
    font-size: 32px;
    letter-spacing: 0.8px;
    line-height: 40px;
    color: $pink;
    text-transform: uppercase;
    margin: 57px 0 29px;
  }

  h6 {
    font-family: $ap;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 34px;
  }

  p {
    font-family: $ap;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 36px;
  }

  .footer {
    margin-top: 140px;
  }

  @media all and (max-width: $mobile-max-bp) {
    .slide-container .image-container {
      height: calc((100vw * 0.56));
    }

    .section-hero-image {
      height: calc((100vw * 0.56));
      // height: 470px;
      // padding-top: 102px;
    }

    .home-alt-logo {
      width: 82px;
      height: 82px;
    }

    .content {
      padding-top: 64px;
    }

    .sub-nav {
      padding: 100px 20px 30px 20px;
      margin: 0;
      font-size: 15px;
      letter-spacing: 1.23px;
    }

    h3 {
      margin-top: 30px;
      font-size: 37px;
      line-height: 48px;
    }

    .text-content {
      padding: 0 20px;
      margin: 0;
    }

    h4 {
      margin: 40px 0 24px;
    }

    h4:first-of-type {
      margin-top: 80px;
    }

    .body {
      width: 100%;
    }
  }
}
