.what-we-do {
  height: 0px;
  overflow: hidden;
  background-color: $background-color;

  h3 {
    font-family: $opt;
    font-size: 64px;
    line-height: 73px;
  }
  h5 {
    font-family: $ap-bold;
    font-size: 19px;
    letter-spacing: 1.56px;
  }
  .landing {
    display: flex;
    height: 720px;
  }
  .landing > * {
    width: 50%;
  }
  .left {
    // background: url("/images/header.jpg");

    .landing-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    // #who-we-are-vid {
    //   height: 100%;
    //   width: 100%;
    //   object-fit: cover;
    // }
  }

  .right .right--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 150px 84px 50px 64px;
  }
  .right h5 {
    text-transform: uppercase;
    // margin-top: 194px;
  }
  .right h3 {
    font-family: $opt;
    font-size: 46px;
    line-height: 57px;
  }

  .about-nav--link-container {
    background-color: $black;

    font-size: 124px;
    text-transform: uppercase;
  }

  .about-nav--link-container a {
    text-decoration: none;
    font-family: $ap-bold;
    color: $background-color;
    white-space: nowrap;
    transition: all 0.3s ease-out;
  }

  .about-nav--link-container a:hover {
    color: $pink;
  }

  .hair-and-waxing-link {
    // width: 100%;
    // left: 100%;
    right: 0;
    /* position: absolute; */
    position: relative;
    padding: 68px 0 42px;
  }

  // .about-nav > div {
  //   height: 100px;
  // }

  .nails-link {
    // width: 100%;
    right: 2000px;
    /* position: absolute; */
    position: relative;
    padding: 42px 0 68px;
  }

  @media all and (max-width: $mobile-max-bp) {
    .landing {
      display: block;
      height: auto;
    }

    .landing > * {
      width: 100%;
    }

    .right {
      .right--content {
        padding: 100px 20px 30px 20px;

        h5 {
          font-family: $ap-bold;
          font-size: 15px;
          letter-spacing: 1.23px;
          margin-bottom: 40px;
        }

        h3 {
          font-size: 37px;
          line-height: 42px;
          font-family: $opt;
        }
      }
    }

    .left {
      .landing-image {
        width: 100%;
        height: 290px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }

    .about-nav--link-container {
      font-size: 36px;
    }

    .hair-and-waxing-link {
      // width: 100%;
      // left: 100%;
      right: 0;
      /* position: absolute; */
      position: relative;
      padding: 34px 0 21px;
    }

    .nails-link {
      // width: 100%;
      right: 600px;
      /* position: absolute; */
      position: relative;
      padding: 21px 0 34px;
    }
  }
}
