.section {
  margin-top: 118px;

  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(518px, 1fr));
    padding: 0 84px;
    gap: 48px;
    &:last-child {
      margin-bottom: 140px;
    }
  }
  @media all and (max-width: 989px) {
    margin-top: 100px;
    .services-container {
      display: block;
      margin: 48px 0;
      padding: 0;
      &:last-child {
        margin-bottom: 80px;
      }
    }
  }
}
