@use "reset";
@use "nav";
@use "services";
@use "careers";
@use "team";

:root {
  --primary-color: #003623;
  --secondary-color: #f2e9da;
  --background-color: #c8a9d4;
  --black: #000000;
  --pink: #975399;
  --light-pink: #c8a9d4;
  --gray: #747474;
  --mud: #d69649;
  --white: #ffffff;
  --light-gray: #979797;
  --light-gray-2: #8c8c8c;
  --lilac: #c8a9d4;
  --mobile-max-bp: 989px;
  --desktop-transitional: 1080px;
}

.disable-scroll {
  overflow-y: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
}

.content {
  opacity: 1;
  position: relative;
  z-index: 10;
  padding: 200px 0 0;

  @media all and (max-width: 989px) {
    padding: 100px 0 0;
  }
}

.entrance {
  background-color: var(--background-color);
  /* min-height: 100vh; */
  position: fixed;
  width: 100%;
  min-height: 100vh;
  bottom: 0;
  opacity: 1;
  z-index: 20;
}
