@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import './reset.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme inline {
  --color-primary: #003623;
  --color-secondary: #f2e9da;
  --color-background: #c8a9d4;

  --color-pink: #975399;
  --color-light-pink: #c8a9d4;
  --color-gray: #747474;
  --color-mud: #d69649;
  --color-white: #ffffff;
  --color-light-gray: #979797;
  --color-light-gray-2: #8c8c8c;
  --color-lilac: #c8a9d4;

  --font-ap: var(--ap), sans-serif;
  --font-opt: var(--opt), sans-serif;
  --font-ap-bold: var(--ap-bold), sans-serif;
}

:root {
  --primary-color: #003623;
  --secondary-color: #f2e9da;
  --background-color: #c8a9d4;
  --black: #000000;
  --pink: #975399;
  --light-pink: #c8a9d4;
  --gray: #747474;
  --mud: #d69649;
  --white: #ffffff;
  --light-gray: #979797;
  --light-gray-2: #8c8c8c;
  --lilac: #c8a9d4;
}

.content {
  position: relative;
  z-index: 10;
  padding: 200px 0 0;
  margin-bottom: 340px;

  @media all and (max-width: 989px) {
    padding: 100px 0 0;
    margin-bottom: 100px;
  }
}

.entrance {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  min-height: 100vh;
  bottom: 0;
  opacity: 1;
  z-index: 20;
}
