@use "variables";

.contact {
  .sub-nav {
    padding: 200px 0 0;
    margin: 0 84px;
    font-family: variables.$ap-bold;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 1.56px;

    span {
      color: variables.$pink;
    }
  }

  .text-content {
    padding: 0 84px;
    margin: 30px 0px 0;
  }

  h3 {
    width: 800px;
    font-family: variables.$opt;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  h3:last-of-type {
    margin-bottom: 0;
  }

  a {
    color: variables.$black;
  }

  .location-contact-container {
    display: flex;
    margin-top: 80px;

    .location-and-hours-body {
      // flex-grow: 1;
    }

    .contact-body {
      // flex-grow: 1;
      margin-left: 100px;
    }

    h4 {
      font-family: variables.$ap-bold;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }

    .address {
      margin-top: 24px;
      font-family: variables.$ap;
      font-size: 22px;
      line-height: 32px;
    }

    .hours {
      margin-top: 24px;
      font-family: variables.$ap;
      font-size: 22px;
      line-height: 32px;
    }

    p {
      margin-top: 12px;
      font-family: variables.$ap;
      font-size: 18px;
      line-height: 28px;
    }
  }

  .gallery {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    column-gap: 52px;

    .column {
      display: flex;
      flex-direction: column;
      row-gap: 52px;
      // flex-grow: 1;
      width: 33%;
    }

    .gallery-title {
      margin: 40px 0 30px;
      font-family: variables.$ap-bold;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }

    .gallery-top-spacing {
      margin-top: 20px;
    }

    .column-image {
      background-repeat: no-repeat;
      background-position: center 10%;
      background-size: cover;

      video {
        width: 100%;
      }
    }
  }

  @media all and (max-width: variables.$mobile-max-bp) {
    .sub-nav {
      padding: 100px 24px 30px 24px;
      margin: 48px 0 0;
    }

    h3 {
      width: 100%;
      margin-top: 10px;
    }

    .text-content {
      padding: 0 24px;
      margin: 0;
    }

    .location-contact-container {
      flex-wrap: wrap;

      .location-and-hours-body {
        width: 100%;
      }

      .contact-body {
        width: 100%;
        margin: 60px 0 0;
      }
    }

    .gallery {
      margin-top: 100px;
      display: block;
      width: 100%;

      .gallery-title {
        text-align: center;
        margin: 0;
      }

      .column {
        width: 100%;
        margin-bottom: 52px;
      }

      .gallery-top-spacing {
        margin-top: -52px;
      }
    }
  }
}
