@use "variables";

.home {

  .entrance {
    background-color: variables.$secondary-color;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    opacity: 0;
  }

  .intro {
    background-color: variables.$secondary-color;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .intro-2 {
    background-color: variables.$black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .intro-rose {
    background: url("/images/home-rose.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
  }

  video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}
