.policies {
  .sub-nav {
    padding: 200px 0 0;
    margin: 0 84px;
    font-family: var(--ap-bold);
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 1.56px;
  }

  .text-content {
    padding: 0 84px;
    margin: 30px 0px 110px;
  }

  h3 {
    font-family: var(--opt);
    font-size: 46px;
    line-height: 57px;
  }

  @media all and (max-width: 989px) {
    .sub-nav {
      padding: 100px 24px 20px;
      margin: 0;
      font-size: 15px;
      letter-spacing: 1.23px;
    }

    .text-content {
      padding: 0 24px;
      margin: 0;
    }

    h3 {
      margin-top: 0;
      font-size: 37px;
      line-height: 42px;
      font-family: var(--opt);
    }
  }
}
