.team {
  .inner-content-container {
    margin: 0 124px;
    padding-top: 200px;
  }

  .staff-container {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
    grid-row-gap: 70px;
    grid-column-gap: 30px;
    margin-bottom: 300px;
  }

  .staff-member {
    height: 100%;
    cursor: pointer;

    .photo-container {
      &:hover {
        .photo {
          filter: sepia(0.6);
        }
      }
    }

    .photo {
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center 10%;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease-out;
    }

    .name-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 18px;

      .name {
        font-family: var(--ap);
        font-size: 27px;
      }

      img {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }

    .role {
      font-family: var(--ap);
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 1.39px;
      margin-top: 8px;
    }

    .instagram {
      cursor: default;
      margin-top: 16px;
      position: relative;
      font-size: 14px;
      line-height: 22px;

      &::before {
        content: "";
        position: absolute;
        mask-image: url("/images/venmo.svg");
        mask-repeat: no-repeat;
        width: 25px;
        height: 24px;
        mask-size: contain;
        background-color: var(--light-gray-2);
      }

      span {
        margin-left: 30px;
      }

      a {
        font-family: var(--ap);
        text-decoration: none;
        color: var(--light-gray-2);
        &:hover {
          color: var(--gray);
        }
      }
    }
  }

  .staff-member-spotlight {
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .close {
      z-index: 10;
      background-color: Transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .video-container {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .inner-container {
        position: relative;
        background-color: rgba(0, 0, 0, 0.95);
        display: flex;
        width: 100%;
      }

      .close {
        top: 48px;
        right: 48px;
        position: absolute;
      }

      video {
        width: 100%;
        outline: none;
        height: calc((100vh * 0.9));
        object-fit: contain;
      }
    }

    .bio-container {
      overflow: scroll;
      height: 100%;

      .photo-container {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      .photo {
        height: calc((100vw * 0.56));
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: fixed;
        width: 100%;
      }

      .inner-container {
        position: relative;
        display: flex;
        justify-content: center;
      }

      .text-container {
        padding-top: calc(100vh * 0.6);
        width: 80%;
        white-space: pre-wrap;
      }

      .text {
        position: relative;
        background-color: var(--black);
        color: var(--secondary-color);
        font-family: var(--opt);
        font-size: 31px;
        margin: 0 84px 84px;
        line-height: 48px;
        padding: 84px 232px 118px 118px;

        h3 {
          font-family: var(--ap);
          font-size: 27px;
          line-height: 36px;
        }

        h5 {
          font-family: var(--ap);
          text-transform: uppercase;
          font-size: 17px;
          letter-spacing: 1.39px;
          line-height: 28px;
          margin-bottom: 70px;
        }

        p {
          margin-bottom: 44px;
        }

        p:last-of-type {
          margin-bottom: 0;
        }
      }

      .close {
        position: absolute;
        right: 44px;
        top: 44px;
      }
    }
  }

  @media all and (max-width: 989px) {
    .inner-content-container {
      padding: 100px 20px 0;
      margin: 0;
    }

    .staff-member-spotlight {
      .video-container {
        .close {
          top: 24px;
          right: 24px;
        }
      }

      .bio-container {
        width: 100%;
        height: 100%;
        background-color: var(--black);
        position: relative;

        .photo-container {
          display: none;
        }

        .text-container {
          padding-top: 0;
          width: 100%;
        }

        .close {
          position: absolute;
          top: 24px;
          right: 24px;
        }

        .text {
          padding: 24px;
          font-family: var(--ap);
          margin: 0;

          h3 {
            margin-bottom: 8px;
          }

          h5 {
            margin-bottom: 24px;
          }

          p {
            font-size: 17px;
            line-height: 28px;
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}
