$primary-color: #003623;
$secondary-color: #f2e9da;
$background-color: #c8a9d4;
$black: #000000;
$pink: #975399;
$light-pink: #c8a9d4;
$gray: #747474;
$mud: #d69649;
$white: #ffffff;
$light-gray: #979797;
$light-gray-2: #8c8c8c;
$lilac: #c8a9d4;

$ap: "apercu-regular", sans-serif;
$ap-bold: "apercu-bold", sans-serif;
$opt: "optima", serif;

$side-padding: 84px;
$extra-side-padding: 124px;

$phone-max-bp: 375px;
$mobile-max-bp: 989px;
$desktop-min-bp: 990px;
$desktop-transitional: 1080px;
