.staff-member-spotlight {
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .photo {
    height: calc((100vw * 0.56));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    width: 100%;
  }

  .text-container {
    padding-top: calc(100vh * 0.6);
    width: 80%;

    .text {
      position: relative;
      background-color: var(--black);
      color: var(--secondary-color);
      font-family: var(--opt);
      font-size: 31px;
      margin: 0 84px 84px;
      line-height: 48px;
      padding: 84px 232px 118px 118px;

      h3 {
        font-family: var(--ap);
        font-size: 27px;
        line-height: 36px;
      }

      h5 {
        font-family: var(--ap);
        text-transform: uppercase;
        font-size: 17px;
        letter-spacing: 1.39px;
        line-height: 28px;
        margin-bottom: 70px;
      }
    }
  }
  @media all and (max-width: 989px) {

    .text-container {
      padding-top: 0;
      width: 100%;
      .text {
        padding: 24px;
        font-family: var(--ap);
        margin: 0;

        h3 {
          margin-bottom: 8px;
        }

        h5 {
          margin-bottom: 24px;
        }
      }
    }
  }
}
