.staff-member {
  height: 100%;
  cursor: pointer;

  .name {
    font-family: var(--ap);
    font-size: 27px;
  }

  .role {
    font-family: var(--ap);
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.39px;
    margin-top: 8px;
  }

  .instagram {
    cursor: default;
    margin-top: 16px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
