.outer-container {
  margin-top: 300px;
  position: relative;

  .instagram-reviews {
    margin: 124px 124px;
  }
  @media all and (max-width: 989px) {
    margin-top: 125px;

    .instagram-reviews {
      margin: 48px 16px;
    }
  }
}
