.footer {
  background-color: black;
  color: var(--secondary-color);
  margin-top: 340px;

  a {
    font-size: 15px;
    font-family: var(--ap-bold);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--secondary-color);
  }

  @media all and (max-width: 989px) {
    margin-top: 140px;

    .footer-logo img {
      width: 82px;
    }
  }
}
